---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer style="text-align: center; border-top: 1px solid #eee; padding: 2em 0;">
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. 
        Site last updated {{ "now" | date: "%Y-%m-%d" }}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
